body {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow:scroll;
    justify-content: space-between;
}

/*HEADER*/
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    flex-wrap: wrap;
    background-color: rgb(212, 212, 212);
}

.right-links {
    display: flex;
    gap: 50px;    
    margin-right: 32px;
    flex-wrap: inherit;   
    align-items: center;   
    justify-content: center;                              
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(32, 32, 32);
    flex-wrap: wrap;
    padding-bottom: 32px;
}

.logo img {
    width: 150px;
    height: 100px;
}

.logo h1 {
    font-size: 32px;
    font-weight: bold;
}

a {
    color:rgb(0, 0, 0); 
    text-decoration: none;
    font-size: 22px;
  }


/*UPPER SIGNUP SECTION*/
.upper_signup_section {
    padding: 42px;
    display: flex;
    justify-content: space-evenly;
    gap: 42px;
    flex-wrap: wrap;
}

.text_and_signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
}

.text_and_signup h2 {
    font-size: 48px;
    font-weight: 700;
}

.text_and_signup p {
    font-size: 18px;
}

@media screen and (min-width: 540px) {
    .text_and_signup h2 {
        inline-size: 500px;
        
    }
    .text_and_signup p {
        inline-size: 550px;
    }
}

.text_and_signup button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 22px;
    width: 100px;
    font-weight: 700;
}

.text_and_signup button:hover {
    background-color: #8138f6;
}

.upper_signup_section .upper_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper_signup_section .upper_img img {
    width: auto;
    height: 400px;
}

/*INFORMATION*/
.information {
    text-align: center;
    margin-bottom: 50px;
}

.information .information_title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
}

.types {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    flex-wrap: wrap;
}

.types_info {
    flex: 0 1 250px;
}

.types_info img {
    width: auto;
    height: 300px;
    border: 2px solid #3882f6;
    border-radius: 16px;
    margin-bottom: 8px;
}

@media screen and (min-width: 540px) {
    .types_info img {
        width: auto;
        height: 220px;
    }
}

.types_info img:hover {
    border-color: #8138f6;
}

.types_info .text {
    color:rgb(47, 47, 47);
}


/*TESTIMONIALS*/
.testimonials_container {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;
    padding: 32px;
}

.testimonials em {
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
}

.testimonials .testimonial_author {
    margin: 1em;
    font-weight: 18px;
    font-weight: 600;
    align-self: flex-end;
}

@media screen and (min-width: 540px) {
    .testimonials em {
        font-size: 36px;
        inline-size: 600px;
    }

    .testimonials .testimonial_author {
        font-size: 20px;
    }
}


/*CALL TO ACTION*/
.calltoaction_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calltoaction_container .calltoaction {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border: 2px solid #f5f5f5;
    border-radius: 32px;
    padding: 42px;
    margin: 32px;
}

.calltoaction_text {
    margin: 16px;
    color: #ffffff;
}

.calltoaction_text h2 {
    font-weight: 800;
    margin-bottom: 2px;
}

.calltoaction_container button {
    background-color: #3882f6;
    color: white;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    padding: 15px 22px;
    width: 100px;
    font-weight: 700;
}


